### （i）

In [1]:
# need to install openpyxl to read .xlsx files"
from pandas import read_excel
dataset = read_excel('synthetic-data.xlsx')
print(dataset)
print(dataset.describe())
# pd.describe(): generate descriptive statistics of the numeric columns in a DataFrame.
print(dataset.info())
# pd.info(): concise summary of a DataFrame, including the number of non-null entries and data types.

       Name    Age   Salary Department
0     Alice   25.0  50000.0         HR
1       Bob   30.0  54000.0    Finance
2   Charlie   35.0  58000.0         IT
3    David    40.0  62000.0         IT
4       Eve    NaN  65000.0         HR
5     Frank  200.0      NaN    Finance
6     Grace   29.0  57000.0        NaN
7       Bob   30.0  54000.0    Finance
8      Hank   22.0  45000.0         IT
9       Ivy   25.0  50000.0         HR
10      Bob   30.0  54000.0    Finance
              Age        Salary
count   10.000000     10.000000
mean    46.600000  54900.000000
std     54.144252   5915.140648
min     22.000000  45000.000000
25%     26.000000  51000.000000
50%     30.000000  54000.000000
75%     33.750000  57750.000000
max    200.000000  65000.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        11 non-null     object
 1   Age         10 non-null     float64
 2   Salary      10 non-null     float64
 3   Department  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 480.0+ bytes
None

### （ii）

In [ ]:
# check for missing values
missing_locs = dataset.isnull().to_numpy().nonzero()  # returns a tuple of two arrays: (row_indices, col_indices)
# dataset.isnull(): Returns a Boolean DataFrame: True for missing value, False otherwise
# .to_numpy(): Convert to numpy array of Booleans
#.nonzero(): A Numpy method returns indices of the elements that are non-zero/True.

row_indices = missing_locs[0]
col_indices = missing_locs[1]
for row_index, col_index in zip(row_indices, col_indices): 
                           # zip(): takes two or more iterables (like lists, tuples, arrays) 
                           #        and pairs up their elements by position.
    print(f"Missing value at Row {row_index}, Column '{dataset.columns[col_index]}'")
    # dataset.columns: holds all the column labels of your DataFrame

Missing value at Row 4, Column 'Age'
Missing value at Row 5, Column 'Salary'
Missing value at Row 6, Column 'Department'

In [ ]:
#test cell
dataset.isnull()

     Name    Age  Salary  Department
0   False  False   False       False
1   False  False   False       False
2   False  False   False       False
3   False  False   False       False
4   False   True   False       False
5   False  False    True       False
6   False  False   False        True
7   False  False   False       False
8   False  False   False       False
9   False  False   False       False
10  False  False   False       False

In [ ]:
#test cell
dataset.isnull().to_numpy()

array([[False, False, False, False],
       [False, False, False, False],
       [False, False, False, False],
       [False, False, False, False],
       [False,  True, False, False],
       [False, False,  True, False],
       [False, False, False,  True],
       [False, False, False, False],
       [False, False, False, False],
       [False, False, False, False],
       [False, False, False, False]])

In [4]:
#test cell
dataset.isnull().to_numpy().nonzero()

(array([4, 5, 6], dtype=int64), array([1, 2, 3], dtype=int64))

In [9]:
# check for duplicate entries
duplicates = dataset.duplicated() # Returns a boolean Series marking whether each row is a duplicate
dup_locs = duplicates.to_numpy().nonzero()[0]
if dup_locs.size > 0:
    print(f"Duplicate entries found at rows: {dup_locs}")

Duplicate entries found at rows: [ 7 10]